ul
  if (page == 'logged in')
    li(class=(menu == 'home')?'active':'')
      a.message(href='/home/#{user.username}') Home
    li(class=(menu == 'profile')?'active':'')
      a.message(href='/home/#{user.username}/profile') Profile        
    if (menu == 'spider' || menu == 'snake' || menu == 'rules')
      if (menu =='spider')
        li(class=(menu == 'rules')?'active':'')
          a.message(href='/home/#{user.username}/spider-rules') Rules
      else 
        li(class=(menu == 'rules')?'active':'')
          a.message(href='/home/#{user.username}/snake-rules') Rules
  
    li.message(class=(menu =='spider' || menu == 'snake')?'active':'') Games
        ul
          li#hovered
            a.message#links(href='/home/#{user.username}/spider') Spider Solitaire
          li#hovered
            a.message#links(href='/home/#{user.username}/snake') Snake
    li
      a.message(href='/home/#{user.username}/logout') Logout
  else
    li(class=(menu == 'index' || menu == 'create')?'active':'')
      a.message(href='/') Home
    li(class=(menu == 'login')?'active':'')
      a.message(href='/login') Log In