ul.nav.nav-pills
  if (page == 'logged in')
    li(class=(menu == 'home' || menu == 'spider' )?'active':'')
      a(href='/home/#{user.username}') Home
    li
      a(href='/home/#{user.username}/profile') Profile        
    if (menu == 'spider' || menu == 'snake')
      if (menu =='spider')
        li
          a(href='/home/#{user.username}/spider-rules') Rules
      else 
        li
          a(href='/home/#{user.username}/snake-rules') Rules
  
    li(class='dropdown')
      a.dropdown-toggle(href='#', data-toggle="dropdown") Games
        ul.dropdown-menu
          li          
            a#Spider(href='/home/#{user.username}/spider') Spider Solitaire           
            a#Snake(href='/home/#{user.username}/snake') Snake
    li
      a(href='/home/#{user.username}/logout') Logout
  else
    li(class=(menu == 'index' || menu == 'create')?'active':'')
      a(href='/') Home
    li(class=(menu == 'login')?'active':'')
      a(href='/login') Log In