extend layout
block page
  - var menu = 'home'
  - var page = 'logged in'
block gameboard
  div.gameboard(id="#{user.username}")
  div.row
    div.col-19
      div.searchArea
        div.col-10.searchTerms
        div.col-6
          input.search.searchBtn(placeholder='Search')
          form(class='submitting', action='/home/search/', method='get', style='display:none;')
        div.col-2.searchSVG
        div#border.errorArea
          p.error
  div.row
    div.col-4
      div.row.twitter
        div.row
          div.col-10
            div.col-10.offset-5
              div.tweetBtn.btn.active
                a.tweetLink(href='/home/#{user.username}/newTweet') New Tweet
          div.col-10
            div.col-10.offset-4
              p#details.tweets #{user.name}
              a.tweets(href='#') @#{user.username}
        div.row
          div.col-7
            p.tweets Tweets
          div.col-7
            p.following Following
          div.col-6
            p.followers Followers
        div.row
          div.col-7
            p.tweets #{user.tweets.length}
          div.col-7
            p.tweets 0
          div.col-6
            p.tweets 0
  div.row.container
